# Ignore node_modules for Next.js (frontend)
frontend/node_modules/

# Ignore Next.js build files
frontend/.next/
frontend/out/

# Ignore environment files
*.env

# Ignore Spring Boot's build directory (Maven or Gradle)
backend/target/
backend/.gradle/
backend/.mvn/
backend/.idea/

# Ignore IDE specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log
