@tailwind base;
@tailwind components;
@tailwind utilities;

/* Appliquer une transition fluide lors du changement de mode */
body {
  @apply transition-colors duration-300;
}

/* Gestion du mode clair */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-white text-gray-900;
}

/* Gestion du mode sombre */
.dark body {
  @apply bg-gray-900 text-white;
}

/* Styles pour les blocs de code */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
